@import "tailwindcss";

@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/Wakaba-rgexA.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: "CustomFont", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background: linear-gradient(to right, #08B9C3, #7236D2);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: linear-gradient(to right, #4a90e2, #9b59b6);
  border-radius: 8px;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.7;
}

.button:active {
  transform: translateY(4px);
  box-shadow: 0 4px 10px rgba(74, 144, 226, 0.5),
    0 5px 15px rgba(155, 89, 182, 0.5);
}

.neon-input {
  position: relative;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 20px; /* Rounded corners */
  background-color: #000;
  color: white;
  font-size: 1.2rem;
  outline: none;
  box-shadow: 0 0 10px 2px rgb(8, 186, 195); /* Neon glow */
}

/* Focus effect to make the border glow even brighter */
.neon-input:focus {
  box-shadow: 0 0 20px 3px rgba(114, 54, 210); /* Brighter neon glow */
}
